
/*  GENERAL STYLES               */


h1 , h2 {

  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}

ul {
   font-family: Arial, sans-serif;
   list-style: none;
   padding: 10;
   margin: 0;
}


/*  HORIZONTAL GREEN MENU        */


#menu-hor-green {
   background: #a4c44d;             
   padding: 25px 10px;
   display: flex;
   gap: 55px;
   justify-content:left;
   margin: 0px;
}

#menu-hor-green li a {
   text-decoration: none;
   color: #333;
   font-size: 22px;
   position: relative;
   padding-bottom: 4px;
}

#menu-hor-green li.active a,
#menu-hor-green li a:hover {
   color: #000;
}

#menu-hor-green li.active a::after,
#menu-hor-green li a:hover::after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: -3px;
   height: 3px;
   background: #333;
}


/*  VERTICAL SOCIAL MEDIA MENU   */


#menu-social-vert {
   margin-top: 30px;
   width: 90px;
}

#menu-social-vert li {
   margin-bottom: 10px;
}

#menu-social-vert li a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90px;
   height: 90px;
   background:none;
   border: 1px solid #cbd88f;
   font-size: 40px;
   color: #8db341;
   transition: 0.3s;
}

#menu-social-vert li a:hover {
   background: #8eb341;
   color: white;
}
