@import 'css/general.css';
@import 'css/header.css';
@import 'css/nav.css';
@import 'css/main.css';
@import 'css/footer.css';
body {
    max-width: 1200px;
    margin: 0 auto;
}
#mainmenu {
    display: flex;
    gap: 35px;   
    list-style: none;
}


header  {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 0 20px;

}
.logo   {
    align-items: flex-end;  
    display: flex;
    flex-direction: column;
      
}
#banner .box{
    max-width: 340px;
    margin-left: auto;
    margin-right: 40px;
    padding: 20px;
}
#banner 
{
    padding: 60px 0;
    position: relative;
}
.box{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
footer {
    align-items: center;
    display: flex;          
    justify-content: space-between;
    padding: 20px 40px; 
}
#social_icons {
    display: flex;
    gap: 12px;
    list-style: none;
   }

main{
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 40px;
}
#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 7px;
}
#p-reservewall{
        text-align: right;
}
.featured_service img{
    float: left;           
    margin: 0 10px 10px 0;
    width: 100px;
}
.readmore {
    display: block;
    margin-top: 10px;
}
/*contact */
main .top {
    grid-column: span 2;              
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: auto 1fr;    
    gap: 20px;
}
form {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
}
form textarea {
    height: 130px;
    resize: vertical;
}
form button {
    grid-column: 2;    
    justify-self: end;  
    margin-top: 10px;
}
main iframe {
    align-self: stretch;
    border: 0;
    height: 100%;
    justify-self: stretch;
    width: 100%;
}