nav > ul >  li > a{
    border:hidden;
    margin: auto;
    padding: 10px 20px;
  
}
#slogan
{
    margin-top: 15px;
    
}

.wrapper  img
{
    margin-bottom: 25px;
}


#social  li 
{
    margin: 15px;
    padding-left: 82px;
    padding-top: 20px;
    padding-right: 30px;
    text-align:start;
    
}
#bestelnu
{
    padding-left: 15px;
}
.wrapper h2
{
    margin: 25px;

}

.recent img
{
    border:white solid 10px;
}
.recent h3 , .recent p
{
    margin: 0 20px 20px 0 ;
}
.recent .button
{
    font-size: 15px;
    margin:0 20px 20px 0 ;
    padding: 10px 20px;
}
footer li
{
    border-bottom:solid #dedede;
    padding: 15px 0;
}
footer
{  
    border-top:solid #dedede;
    margin: 20px; 
}
footer h3 
{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px 0;

}
