/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */

body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   line-height: 1.8;
   background: #dfdfdf;
   border-radius: 20px 20px 0 0;
}

#content p,
#content ul {
   text-align: justify;
}

#content a {
   
   text-decoration: none;
   color: #B52025;
   transition: border-color .3s;
}

#content a:hover {
   border-color: #B52025;
}

/* ===========================================
   Menu
   =========================================== */

/* menu styles here */
/* ... */
nav ul {
   list-style: none;
   display: flex;
   gap: 5px;
}

nav ul li a {
   
   display: block;
   padding: 10px 22px;
   background: #ffffff;
   color: rgb(0, 0, 0);
   text-decoration: none;
   border-radius: 4px;
   transition: background .3s, transform .3s;
   font-weight: 400;

}

nav ul li a:hover {
    background: #B52025;;
    color: #ffff;
    transform: translateY(-2px);
}

nav ul li a.active {
    background: #B52025;
}



/* ===========================================
   Banner
   =========================================== */

/* banner styles here */


#banner {
   height: 280px;
   background: url('../img/banner.jpg') center/cover no-repeat;
   border: 5px solid #B52025 !important;
   box-shadow: 0 0 15px rgba(0,0,0,0.25);
   position: relative;
}

#banner p {
    padding: 20px !important;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}


/* ===========================================
   Main
   =========================================== */

/* main styles here */

main h3 {
    color: #B52025;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
    font-weight: 700;
}

main h3::after {
    content: "→";
    color: #B52025;
    font-weight: 700;
    position: relative;
    left: 0;
    top: 0;
}

.minibanner {
    border: 5px solid #e9e9e9;
    padding: 3px;
    background: #FDEAEB;
}
.more {
    text-align: right;  
}
.more a {
    display: inline-block;
    padding: 2px 10px;
    background:none;
    color: #B52025 !important;
    border: 2px solid #B52025;
    border-radius: 7px;
    font-weight: 700;
    text-decoration:solid;
    transition: all .2s ease-in-out;
   
   
    
}

.more a::after {
    content: " »";
    font-weight: 700;
}

.more a:hover {
    color: #4d0002 !important;
    border-color: #4d0002;
    transform: translateY(2px);
}
.more {
    float: right;
}


.projects img {
    border: 4px solid #eee;
    margin-bottom: 10px;
    display: block;
}


.newsletter {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.newsletter input[type=text] {
    width: 100%;
    background: #FDEAEB;
    border-radius: 4px;
}

.newsletter button {
    background: #B52025;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    transition: background .3s, transform .3s;
}

.newsletter button:hover {
    background: #8d1518;
    transform: translateY(-2px);
}


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */
footer {
    text-align: center;
    background: linear-gradient(to bottom, #eeeeee, #cfcfcf);
}
